@import "tailwindcss";

@layer utilities {
  @font-face {
    font-family: "Coolvetica";
    src: url("/assets/fonts/coolvetica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  /* Self-hosted Inter */
  @font-face {
    font-family: "Inter";
    src: url("/assets/fonts/inter.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@layer base {
  :root {
    --text: #fff;
    --background: #141414;
    --primary: #b1440a;
    --secondary: #10282d;
    --secondary-40: rgba(16, 40, 45, 0.4);
    --accent: #00c3ff;
    --accent-alternative: #00c2ff;
    --company-bg: url(/assets/images/bg_company.webp);
    --company-secondary: #552700;
    --call-to-action: #606c38;
    --topbar: #693514;
    background: var(--background);
    color: var(--text);
    font-family: Inter, sans-serif;
    font-feature-settings:
      "liga" 1,
      "calt" 1,
      "cv02" 1,
      "cv05" 1;
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: InterVariable, sans-serif;
    }
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  b,
  div {
    letter-spacing: -0.03em; /* -3% */
  }

  /* Titles use Coolvetica and should have each word capitalized */
  h1,
  h2,
  h3,
  h4 {
    font-family: Coolvetica, Inter, sans-serif;
    text-transform: capitalize;
  }

  @media (max-width: 768px) {
    :root {
      background-size: contain;
      background-repeat: repeat-y;
    }

    .dark {
      background-size: contain;
      background-repeat: repeat-y;
    }
  }

  :root {
    scroll-behavior: smooth;
  }
}

/* Styles specific to the auth pane */
.auth-pane :where(button, a[role="button"]) {
  background-color: var(--primary);
  color: white;
}

.auth-pane :where(button, a[role="button"]):hover {
  background-color: color-mix(in srgb, var(--primary) 85%, black);
}

/* Auth layout specifics */
.auth-left {
  position: relative;
  height: 100vh;
  width: calc(100vh * 0.703125); /* 720 / 1024 = 0.703125 */
  flex-shrink: 0;
}

.auth-pane {
  background-color: #141414;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-pane > div {
  width: 100%;
  max-width: 560px;
}

/* this is a css extension that only works in gecko engine based browsers (firefox) */
@-moz-document url-prefix() {
  .firefox-scrollbar-margin {
    padding-right: 4px;
  }
}
